<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512324695475-d763426q52pdpearlfio420ca9ppv0c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512324695475-d763426q52pdpearlfio420ca9ppv0c5</string>
	<key>API_KEY</key>
	<string>AIzaSyAdYORT-Y_FpKSm1WXvcOf43eAeptJpTgw</string>
	<key>GCM_SENDER_ID</key>
	<string>512324695475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.tairone.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-c0866</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-c0866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512324695475:ios:e617cd47e4989bc3</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-c0866.firebaseio.com</string>
</dict>
</plist>